*{margin:0px 10px 0px 0px;
padding:0px;
}

body{
background-color : #efd0c6;
}
#top{
width: 100%;
background-color : #fa959f;
height:40px;
padding: 5px 20px;
font : bold 30px Helvetica, serif;
position: absolute;

}
#login {
position: relative;
margin : 0 0 0 850px;
padding :10px;
}

#text{
font : bold 20px Helvetica;
position : relative;
margin : 20px;
padding: 15px;
}

button{
border : 2px solid blue;
background-color: lightgrey;
font-size: 25px;
}

a{
text-decoration: none;}
